extends layout

block content
  div.container-fluid
    div.row-fluid
      div.span3
        div.well.sidebar-nav
          ul.nav.nav-list
            li.nav-header Worlds

      div.span9
        h1= title
        p Welcome to #{title}
        div#status
        div#counter
        table.table.table-striped
          thead
            tr
              th Table
              th Heading
            tbody
            tr
              td Blah
              td Test
            tr
              td Hello
              td World
    div.footer
